// Global rules, not necessary for effects
.spacer {
  height: 40em;

  &-text {
    line-height: 15em;
    text-align: center;
  }
}

body {
  background-image: url('../img/bg-body.jpg');

  .footer {
    text-align: center;
    background-color: darkslategray;
    color: white;
  }
}

// Splash Effects
.splash-container {
  %block {
    width: 80%;
  }

  .rb {
    @extend %block;
    float: right;
  }

  .lb {
    @extend %block;
    float: left;
  }

  .mask {
    height: 100%;
    width: 100%;
  }
}

// Slide Effects
.slider {
  height: 20em;
}
