// Global rules, not necessary for effects
.spacer {
  height: 40em;

  &-text {
    line-height: 15em;
    text-align: center;
  }
}

body,
.content-box {
  background-image: url('../img/bg-body.jpg');

  .footer {
    background-color: darkslategray;
    color: white;
    text-align: center;
  }
}

// Splash Effects
.splash-container {
  %block {
    width: 80%;
  }

  .rb {
    @extend %block;
    float: right;
  }

  .lb {
    @extend %block;
    float: left;
  }

  .mask {
    max-height: 1020px;
    width: 100%;
  }

  .content-box {
    background-color: red;
    border-radius: 10px;
    max-width: 200px;
    position: absolute;
    text-align: right;
    top: 50%;
    transform: translateY(-50%)
  }
}

// Slide Effects
.slider {
  height: 20em;
}
